# Mac OS
.DS_Store
._*

# LaTeX
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk

# other bloatiness
*.ppt
*.mov
*.mp4

#Java
*.class

#untracked folders
folien/
bin/
paper/

#files
AW1/ausarbeitung/*.pdf
AW1/kurzausarbeitung/*.pdf
AW1/praesentation/*.pdf
AW2/eine_seite_kurzausarbeitung/*.pdf
AW2/kurzausarbeitung/*.pdf
AW2/praesentation/*.pdf
AW2/ausarbeitung/*.pdf
AW2/kurzpraesentation/*.pdf

TT1/tt1_p1.pdf
